*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-image: linear-gradient(to bottom, #ffe3e3, #fecbcb, #fcb3b2, #f89b9a, #f28282);
}

.titulo{
    width: 100%;
    gap: 5px;
}
.titulo img{
    width: 50px;
    border-radius: 50%;
}
.titulo a{
    color: black;
    align-self: center;
    justify-content: flex-start;
}

.navBar{
    list-style: none;
    justify-content: end;
    
}
.navBar li a{
    color: black;
    text-decoration: none;
}
.carrusel{
    justify-content: center;
    display: flex;
}

.cards{
    display: flex;
    justify-content: space-evenly;
}
.card{
    background-color:  #fcb3b2;
}
.card1{
    margin: 20px;
    
}
.card2{
    margin: 20px;
}

.footer{
    background-color: #f6d4d4;

}
.footer li a{
    text-decoration: none;
    
}
@media (max-width:768px) {
    .titulo a{
        font-size: 18px;
    }
}
@media (max-width: 320px){
    .titulo a{
        font-size: 16px;
    }
    .cards h5{
        font-size: 18px;
    }
    .cards h5 p{
        font-size: 15px;
    }
}



/*
Empieza css de salas
*/

.banner-salas img{
    width: 500px;
    height: 400px;
    
}
/*
css de equipo
*/

.banner-equipo img{
    width: 50%;
    height: 50%;
    
}
/*
css de galeria
*/
.grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    padding: 10px;
    grid-gap: 5px;
}
.grid img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.grid img:active{
    /* transform: translate(40px, 80px); */
    cursor: pointer;
    transform: scale(1.5);
}
/*
css de contacto
*/
.maps{
    width: 100%;
    height: 100%;
}
.formularios{
    width: 100px;
    height: 100%;
}
.contactos{
    width: 100%;
    background-color: rgb(226, 195, 195);
    gap: 80px;
    padding-top: 20px;
    margin-right: 20px;
    display: flex;
    
}
.direccion{
    
    width: 100%;
    background-color: rgb(226, 195, 195);
    
    padding-top: 20px;
    margin-right: 20px;
    display: flow-root;
    
    
}
.contacto{
    width: 100%;
    background-color: rgb(226, 195, 195);
    
    padding-top: 20px;
    margin-right: 20px;
    display: flow-root;
    
}