
.banner-salas{
    
    .tarjeta1-2{
        display: flex;
        justify-content: space-around; 
        margin: 20px;
    }
    .tarjeta3-4{
        display: flex;
        justify-content: space-around;
        margin: 20px;
        
    }
    

}