.maps{
    width: 100%;
    height: 100%;
}
.formularios{
    width: 100px;
    height: 100%;
}
.contactos{
    width: 100%;
    background-color: rgb(226, 195, 195);
    gap: 80px;
    padding-top: 20px;
    margin-right: 20px;
    display: flex;
    
}
.direccion{
    
    width: 100%;
    background-color: rgb(226, 195, 195);
    
    padding-top: 20px;
    margin-right: 20px;
    display: flow-root;
    
    
}
.contacto{
    width: 100%;
    background-color: rgb(226, 195, 195);
    padding-top: 20px;
    margin-right: 20px;
    display: flow-root;
    
}