@media (max-width:768px) {
    header{
        position: relative;
    }
    .titulo a{
        font-size: 16px;
    }
    .navbar{
        li a{
            font-size: 14px;
        }
    }
    .carrusel-cards{
        display: grid;
        grid-template-columns:1fr ;
        grid-template-rows:1fr;
        grid-template-areas: 
        "item1"
        "item2"
        "item3"
        
        
        ;
        .carrusel{
            
            padding: 20px;
            display: flex;
            grid-area: item1;
            
        }
    
        .card1{
            display: flex;
            justify-content: center;
            grid-area: item2;
            
            .card{
                background-color: rgb(220, 254, 170);
            }
            h5{
                font-size: 16px;
            }
            p{
                font-size: 14px;
            }
        }
        .card2{
            margin: 20px;
            display: flex;
            grid-area: item3;
            justify-content: center;
            }
            .card{
                background-color: rgb(220, 254, 170);
            }
            h5{
                font-size: 16px;
            }
            p{
                font-size: 14px;
            }
    }
        //Salas
        .banner-salas{

        display: grid;
        justify-content: center;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        grid-template-areas: 
        "item1"
        "item2"
        "item3"
        "item4"
        ;
        width: 50%;
        .card{
            display: flex;
            justify-content: center;
            align-items: center;
            img{
                width: 50%;
            }
            p{
                color: gray;
                font-family: $typo-secundario;
                font-size: 12px;
            }
            .card1{
                grid-area: item1;
                
            }
            .card2{
                grid-area: item2;
                
            }    
            .card3{
                grid-area: item3;
                
                
            }
            .card4{
                grid-area: item4;
                
                
            }
        }
        }
        
        


        
        //Galeria
        .grid{
            display: grid;
            grid-template-columns: repeat(1, 1fr);
            grid-template-rows: repeat(6, 1fr);
            margin-left: 45px;
            padding: 10px;
            grid-gap: 5px;
            
            img{
                width: 85%;
                height: 85%;
                object-fit: cover;
            }
            img:active{
                cursor: pointer;
                transform: scale(1.5);
            }
        }

        
        
        //equipo

        .banner-equipo{
            img{
                display: flex;
                width: 75%;
                height: 75%;
                padding: 40px;
                margin: 50px;
            }
            .items{
                h2{
                    display: flex;
                    justify-content: center;
                    font-family: $typo-principal;
                    font-size: 18px;
                    
                }
                ul li{
                    
                    display: flex;
                    justify-content: start;
                    font-family: $typo-principal;
                    font-size: 13px;
                }
            }
        }

        //contacto
        .body-contacto{
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: 1fr;
            grid-template-areas: 
            "item1"
            "item2"
            "item3"
            
            ;
            .maps{
                grid-area: item1;
                width: 100%;
                height: 100%;
            }
            .contactos{
                grid-area: item2;
                display: flex;
                justify-content:start;
                align-items: center;
                margin: 40px;
                h4{
                    font-family: $typo-principal;
                    color: rgb(173, 253, 173);
                }
                p{
                    font-family: $typo-principal;
                    color: rgb(0, 0, 0);
                }
            }

            .formulario{
                grid-area: item3;
                display: flex;
                justify-content: start;
                align-items: end;
                width: 100%;
                height: 100%;
            }
            
            
        }
        


    
}    